*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}

body{
    
}
header{
    background-color: rgb(19,25,33);
    width:100%;
}

header .container-fluid{
    background-color: rgb(19,25,33); 
    padding:10px;
}

.search-bar{
    width:500px !important;
}

.search-bar input{
    height:40px;
    padding:5px !important;
}
.search{
    background:#FEBD69 !important;
    font-weight:600;
    height:40px;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.navbar-brand img{
    width:120px;
}

.cart{
    color:white;
    font-size:20px;
    font-weight:600;
}

#cards-sections{
    padding:5em 0px;
    background-color: #EAEDED;
}



.card{
    width:100%;
    padding:10px;
    border:0 !important;
}
.col{
    display: flex;
    justify-content:center ;
}

#cards-sections .card img{
    height:210px !important;
    
}
.content a{
    background-color:#CC0C39;
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    font-size:12px;
    display:inline-block;
    padding:3px 8px;
    margin-top:5px;
}
.content span{
    color:#CC0C39;
    font-weight:600;
    font-size:13px;
    margin-left:5px;
}

.content-2 h2{
    font-size:16px;
    margin-top:10px;
}

.content-2 span{
    font-weight:600;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:19px;
}

.content-2 h4{
    font-size:14px;
    color:rgba(0,0,0,0.5);
}

.count{
    color:#F08804;
    position: relative !important;
    bottom:23px !important;
    left:43px !important;
}

#selected{
    cursor: pointer;
}

.content-2 button{
    outline:none;
    border-radius:7px;
    border:0;
    display: inline-block;
    margin-left:10px;
   font-family:sans-serif;
   font-weight:600;
   font-size:14px;
   padding:7px;
   background:linear-gradient(rgb(240,195,80),rgb(247,223,160));
}

/* Shopping page css */

#shopping{
    background-color:#EAEDED; 
    padding:6em 0px;
}

#shopping h1{
    font-size:25px !important;
    font-weight: 600;
}

.sub .content{
    display: flex;
}

.price-details h3{
    margin-top:20px;
    margin-left:20px;
    font-size:18px;
}

.price-details{
    width:300px;
}
.price-details a{
    background-color:#CC0C39;
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    font-size:12px;
    display:inline-block;
    padding:3px 8px;
    margin-top:5px;
    margin-left:20px;
}

.price-details span{
    color:#CC0C39;
    font-weight:600;
    font-size:13px;
    margin-left:5px;
}

.price-details h4{
    font-size:14px;
    color:rgba(0,0,0,0.5);
    margin-left:20px;
}

.price-details h1{
    margin-left:20px;
    margin-top:20px;
}

.price-details p{
    margin-left:20px;
    font-size:12px;
    color:rgba(0,0,0,0.5);
}

.endline{
    width:100%;
    height:1px;
    background-color:rgba(0,0,0,0.2);
    margin:10px 0px;
}
 .image{
    width:50%;
}
.image img{
    height:210px;
    width:250px;
}

.dropdown{
    margin-left:20px;
    padding:7px;
    display: flex;
    justify-content: space-between;
}

.total{
    display: flex;
    justify-content: space-between;
}

.amount{
    font-size:25px !important;
    color:black !important;
}

i{
    font-size:25px !important;
    font-weight:600;
    margin-left:20px;
}

.message{
    font-size:25px;
    text-align: center;
    margin-top:15px;
    font-weight: 600;
    color: green;
    display: none;
}

.dropdown button{

    border:0;
    border-radius:5px;
    outline: none;
    padding:5px;
    display: inline-block;
    background:linear-gradient(rgb(240,195,80),rgb(247,223,160));
}

@media (max-width:992px) {
    .search-bar{
        display: none !important;
    }
}

@media (max-width:575px) {
   
    .sub .content{

        flex-direction: column;
    }

    .sub .image{
        width:100%;
    }
    .price-details{
        width: 100%;
    }
}